
<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-48 w3-white">
        <h1 class="w3-xxxlarge"><b>YM Mens Online Clothing Store</b></h1>
        <h6>Welcome to the blog of YM </h6>

    </header>

    <!-- Image header -->
    <header class="w3-display-container w3-wide" id="home">
        <h6>
            <font color="blue">
                YnM Clothes and Fashion is known for its latest trends in the cloth line
                industry. Enjoy free shipping and easy returns at our various
                affordable outlets.
            </font><br /><br />
        </h6>
        <img class="w3-image" src="~/Content/Images/clothe4.jpg" alt="Fashion Blog" width="1600" height="1060">
        <div class="w3-display-left w3-padding-large">
            <h1 class="w3-text-white">YM Fashion</h1>
            <h1 class="w3-jumbo w3-text-white w3-hide-small"><b> BLOG</b></h1>
            <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" onclick="document.getElementById('subscribe').style.display='block'">Buy Online</button></h6>
        </div>
    </header>

    <!-- Grid -->
    <div class="w3-row w3-padding w3-border">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">

            <!-- Blog entry -->
            <div class="w3-container w3-white w3-margin w3-padding-large">
                <div class="w3-center">
                    <h3>TITLE HEADING</h3>
                    <h5>Title description, <span class="w3-opacity">March 2018</span></h5>
                </div>

                <div class="w3-justify">
                    <img src="~/Content/Images/jeans2.jpg" alt="Girl Hat" style="width:100%" class="w3-padding-16">
                    <p>
                        <b>Men's Clothing </b><br /><br />
                        Guys, it’s time to update your wardrobe. Luckily for you, we’ve got all the staples and on-trend pieces your closet needs.
                        Explore men’s clothing (including big & tall sizes), plus shoes and accessories to create outfits tailored for every occasion.
                        And if you’re interested in a few helpful styling tips, then check out our Men’s Guide to Style. Don’t worry, you can thank us later. <br /><br />

                        First, let’s keep it casual. The keys to a great laid-back wardrobe are to pick pieces that fit well, are comfortable and are versatile.
                        T-shirts and tees are a great place to start. Plain tees are simple and can be worn with anything. Bonus? They can double as Undershirts
                        in a pinch. Graphic Tees are an easy way to show off your personality. Go with versions that showcase your interests, rep your favorite
                        sports team or just look cool. Finish your chill shirt collection with a few polos—they’re a more polished option and can easily be
                        dressed down or up. <br /><br />

                        Now that you’ve got your list of classic casual shirts, it’s time to focus on refreshing your collection of shorts and pants.
                        From cargos and chinos to denim, we’ve got you covered. When it comes to jeans, especially, grab a few pairs in various washes—think
                        light, medium and dark. Feeling adventurous? Colored denim provides a fresh update to your look. From skinny and slim fit to bootcut
                        and relaxed, fit matters and you should always pick pairs that suit your frame and that you feel good in. <br /><br />

                        Let’s move on to pieces you’ll need to dress to impress. Look pulled together with suits, dress shirts, undershirts and men’s dress
                        shoes. Take the opportunity to mix and match with sport coats and blazers. Pair them with dress pants or jeans for a modern feel
                        (but only if if the dress code is more lenient). Whether you’re headed to the office, a wedding or special event, your stylish clothes
                        will speak for themselves. Don’t forget accessories. Grab a Wallet, cuff links, ties, belts and more to round out your look. <br /><br />

                        Whether you’re dressed up or down, you’ll need to layer up when it’s cold outside. Our collection of jacket, coats and vest will
                        keep you warm. Throw on cozy sweaters and sweatshirts into your look, and for even more warmth, stock up on hats, scarves and gloves.
                        Stick with Timberland Boots and thicker fabrics that help trap heat—think wool, leather, cotton and more. <br /><br />

                        Oh, and we can’t forget workout clothes. Whether you live at the gym or are just getting back into an exercise routine, you’re going
                        to need a solid collection of activewear. And on rest days (and every evening), pajamas and loungewear will come in handy. We’re here
                        to help you look great every hour of the day. Find helpful styling tops and tricks with Macy’s Men’s Guide To Style. <br /><br />

                        Who’s ready for a wardrobe refresh? Shop men’s clothing, shoes, accessories and more at Macy’s.Looking for huge savings?
                        Shop our Black Friday Deals, Mens Black Friday Deals, Cyber Monday Deals and Christmas Gift Guide! <br /><br /><br />
                    </p>

                    <p class="w3-clear"></p>
                    <div class="w3-row w3-margin-bottom" id="demo1" style="display:none">
                        <hr>
                        <div class="w3-col l2 m3">
                            <img src="/w3images/avatar_smoke.jpg" style="width:90px;">
                        </div>
                        <div class="w3-col l10 m9">
                            <h4>George <span class="w3-opacity w3-medium">May 3, 2015, 6:32 PM</span></h4>
                            <p>Great blog post! Following</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Blog entry -->
            <div class="w3-container w3-white w3-margin w3-padding-large">
                <div class="w3-center">
                    <h3>TITLE HEADING</h3>
                    <h5>Title description, <span class="w3-opacity">April 23, 2016</span></h5>
                </div>

                <div class="w3-justify">
                    <img src="~/Content/Images/men4.jpg" alt="Men in Hats" style="width:100%" class="w3-padding-16">
                    <p><strong>Hats!</strong> The trend this summer is hats for men!</p>
                    <p>
                        Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies
                        mi non congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                    </p>
                   
                    <p class="w3-clear"></p>

                    <!-- Example of comment field -->
                    <div id="demo2" style="display:none">
                        <div class="w3-row">
                            <hr>
                            <div class="w3-col l2 m3">
                                <img src="/w3images/girl_train.jpg" style="width:90px;">
                            </div>
                            <div class="w3-col l10 m9">
                                <h4>Amber <span class="w3-opacity w3-medium">April 26, 2015, 10:52 PM</span></h4>
                                <p>Love your blog page! Simply the best! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
                            </div>
                        </div>
                        <div class="w3-row w3-margin-bottom">
                            <div class="w3-col l2 m3">
                                <img src="/w3images/girl.jpg" style="width:90px;">
                            </div>
                            <div class="w3-col l10 m9">
                                <h4>Angie <span class="w3-opacity w3-medium">April 23, 2015, 9:12 PM</span></h4>
                                <p>Love hats!!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blog entry -->
            <div class="w3-container w3-white w3-margin w3-padding-large">
                <div class="w3-center">
                    <h3>TITLE HEADING</h3>
                    <h5>Title description, <span class="w3-opacity">April 7, 2016</span></h5>
                </div>

                <div class="w3-justify">
                    <img src="~/Content/Images/clothe8.jpg" alt="Runway" style="width:100%" class="w3-padding-16">
                    <p><strong>Dont miss!</strong> The runway in New York City this weekend is gonna be legendary!</p>
                    <p>
                        Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies
                        mi non congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                    </p>
                   
                    <p class="w3-clear"></p>

                    <!-- Example of comment field -->
                    <div id="demo3" style="display:none">
                        <hr>
                        <div class="w3-row w3-margin-bottom">
                            <div class="w3-col l2 m3">
                                <img src="/w3images/girl_mountain.jpg" style="width:90px;">
                            </div>
                            <div class="w3-col l10 m9">
                                <h4>Jane <span class="w3-opacity w3-medium">April 10, 2015, 7:22 PM</span></h4>
                                <p>That was a great runway show! Thanks for everything.</p>
                            </div>
                        </div>
                        <div class="w3-row w3-margin-bottom">
                            <div class="w3-col l2 m3">
                                <img src="/w3images/boy.jpg" style="width:90px;">
                            </div>
                            <div class="w3-col l10 m9">
                                <h4>John <span class="w3-opacity w3-medium">April 8, 2015, 10:32 PM</span></h4>
                                <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                        <div class="w3-row w3-margin-bottom">
                            <div class="w3-col l2 m3">
                                <img src="/w3images/girl_hood.jpg" style="width:90px;">
                            </div>
                            <div class="w3-col l10 m9">
                                <h4>Anja <span class="w3-opacity w3-medium">April 7, 2015, 9:12 PM</span></h4>
                                <p>Cant wait for the runway to start!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- END BLOG ENTRIES -->
        </div>

        <!-- About/Information menu -->
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-white w3-margin">
                <img src="~/Content/Images/jeans.jpg" alt="Jane" style="width:100%" class="w3-grayscale">
                <div class="w3-container w3-black">
                    <h4>Our Mission</h4>
                    <p>Our goal is to be a retailer with the ability to see opportunity on the horizon and have a clear path for capitalizing on it. 
                    To do so, we are moving faster than ever before, employing more technology and concentrating our resources on those elements most important to our core customers.</p>
                </div>
            </div>
            <hr>

            <!-- Posts -->
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Popular Items</h4>
                </div>
                <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16">
                        <img src="/w3images/avatar_smoke.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Jeans</span>
                        <br>
                        <span>Sed mattis nunc</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="/w3images/bandmember.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Sweaters</span>
                        <br>
                        <span>Praes tinci sed</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Pants</span>
                        <br>
                        <span>Ultricies congue</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="/w3images/avatar_smoke.jpg" alt="Image" class="w3-left w3-margin-right w3-sepia" style="width:50px">
                        <span class="w3-large">T-shirt</span>
                        <br>
                        <span>Lorem ipsum dipsum</span>
                    </li>
                </ul>
            </div>
            <hr>

            <!-- Advertising -->
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Advertise</h4>
                </div>
                <div class="w3-container w3-white">
                    <!--<div class="w3-container w3-display-container w3-light-grey w3-section" style="height:200px">
                        <span class="w3-display-middle">Your AD Here</span> -->
                        <img src="~/Content/Images/clothe1.jpg" alt="Jeans" style="width:100%">
                    
                </div>
            </div>
            <hr>

            <!-- Tags -->
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Free Delivery Locations</h4>
                </div>
                <div class="w3-container w3-white">
                    <p>
                         <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Seattle</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Las Vegas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Denver</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Portland</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Los Angelas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Atlanta</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">San Diego</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Chicago</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">San Fransico</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Houston</span>
                    </p>
                </div>
            </div>
            <hr>

            <!-- Inspiration -->
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>For Sales</h4>
                </div>
                <div class="w3-row-padding w3-white">
                    <div class="w3-col s6">
                        <p><img src="~/Content/Images/jeans1.jpg" alt="Jeans" style="width:100%"></p>
                        <p><img src="~/Content/Images/jeans2.jpg" alt="Jeans" style="width:100%"></p>
                    </div>
                    <div class="w3-col s6">
                        <p><img src="~/Content/Images/jeans3.jpg" alt="Men in Hats" style="width:100%" class="w3-grayscale"></p>
                        <p><img src="~/Content/Images/jeans4.jpg" alt="Jeans" style="width:100%"></p>
                    </div>
                </div>
            </div>
            <hr>

            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Follow Us</h4>
                </div>
                <div class="w3-container w3-xlarge w3-padding">
                    <i class="fa fa-facebook-official w3-hover-opacity"></i>
                    <i class="fa fa-instagram w3-hover-opacity"></i>
                    <i class="fa fa-snapchat w3-hover-opacity"></i>
                    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                    <i class="fa fa-twitter w3-hover-opacity"></i>
                    <i class="fa fa-linkedin w3-hover-opacity"></i>
                </div>
            </div>
            <hr>

            <!-- Subscribe -->
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Subscribe</h4>
                </div>
                <div class="w3-container w3-white">
                    <p>Enter your e-mail below and get notified on the latest blog posts.</p>
                    <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
                    <p><button type="button" onclick="document.getElementById('subscribe').style.display='block'" class="w3-button w3-block w3-red">Subscribe</button></p>
                </div>
            </div>

            <!-- END About/Intro Menu -->
        </div>

        <!-- END GRID -->
    </div>

    <!-- END w3-content -->
</div>

<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content" style="padding:32px">
        <div class="w3-container w3-white">
            <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
            <h2 class="w3-wide">SUBSCRIBE</h2>
            <p>Join my mailing list to receive updates on the latest blog posts and other things.</p>
            <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
            <button type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>
        </div>
    </div>
</div>
